/** @format */

#chart-demo {
	background-color: white;
}

#chart {
	height: 500px;
	margin: 0 30px 15px 30px;
}

#chart2 {
	height: 400px;
	margin: 0 30px 15px 30px;
}

.options {
	padding: 20px;
	margin-top: 20px;
	background-color: rgba(191, 191, 191, 0.15);
}

.caption {
	font-size: 18px;
	font-weight: 500;
}

.option {
	margin-top: 10px;
}

.option > span {
	width: 50px;
	display: inline-block;
	margin-right: 10px;
}

.option > .dx-selectbox {
	display: inline-block;
	vertical-align: middle;
}

.chart-title {
	font-size: 0.75rem;
}
