/** @format */

.state-tooltip {
	height: 90px;
	background-color: red;
	z-index: 5;
}

/* Define the entering animation when the component slides in from the top */
.slide-enter {
	transform: translateY(-100%);
	opacity: 0;
}

.slide-enter-active {
	transform: translateY(0);
	opacity: 1;
	transition: transform 500ms, opacity 500ms;
}

/* Define the exiting animation when the component slides out to the top */
.slide-exit {
	transform: translateY(0);
	opacity: 1;
}

.slide-exit-active {
	transform: translateY(-100%);
	opacity: 0;
	transition: transform 500ms, opacity 500ms;
}
