/** @format */

.custom-popup {
	padding: 0;
	margin: 0;
	z-index: 4 !important;
	max-width: 350px !important;
}

.popup-button {
	background-color: #2f5572 !important;
	padding: 10px;
	box-shadow: 0 9px #999;
}

.popup-button:hover {
	box-shadow: 0 9px #999 !important;
	background-color: #477ea8 !important;
}

.popup-button:active {
	background-color: #162836 !important;
	box-shadow: 0 5px #666 !important;
	transform: translateY(4px);
}

.custom-popup h3 {
	margin-top: 0px;
	color: #2f5572;
	font-weight: 600;
	border-bottom: 1px solid rgb(200, 200, 200);
	font-size: 1rem;
}
.mapboxgl-popup-close-button {
	background-color: #2f5572;
	color: white;
	border-top-right-radius: 10px;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
}

.mapboxgl-popup-close-button:hover {
	background-color: darkred;
}

.mapboxgl-popup {
	padding-top: 20px;
	border-radius: 10px;
	color: black;
	font-weight: 600;
	z-index: 4 !important;
}

.mapboxgl-popup-content {
	//background-color: yellow;
	border-radius: 10px;
}
